# Project exclude paths
/.gradle/
/hw1/build/
/hw1/build/classes/java/main/
/hw1/build/classes/java/test/
/hw2/build/
/hw2/build/classes/java/main/
/hw2/build/classes/java/test/
/hw4/build/
/hw4/build/classes/java/main/
/hw4/build/classes/java/test/